<h1><%= @venue.name %></h1>
<h3>Address: <%= @venue.address %></h3>
<h3>Phone Number: <%= @venue.phone_number %></h3>
<h3>Website URL: <%= @venue.website_url %></h3>
<h3>Neighborhood: <%= @venue.neighborhood %></h3>
<h3>Twitter URL: <%= @venue.twitter_url %></h3>
<h3>Facebook URL: <%= @venue.facebook_url %></h3>
<h3>Instagram URL: <%= @venue.instagram_url %></h3>
<h3>Email: <%= @venue.email %></h3>
<h3>Other: <%= @venue.other %></h3>
<br>
<%= link_to("/", "Back") %>